In [196]:
import pandas as pd
import json
from collections import defaultdict

In [3]:
df = pd.read_csv('../data/crime_data.csv')

# EDA

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944235 entries, 0 to 944234
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           944235 non-null  int64
 1   Date Rptd       944235 non-null  object
 2   DATE OCC        944235 non-null  object
 3   TIME OCC        944235 non-null  int64
 4   AREA            944235 non-null  int64
 5   AREA NAME       944235 non-null  object
 6   Rpt Dist No     944235 non-null  int64
 7   Part 1-2        944235 non-null  int64
 8   Crm Cd          944235 non-null  int64
 9   Crm Cd Desc     944235 non-null  object
 10  Mocodes         811136 non-null  object
 11  Vict Age        944235 non-null  int64
 12  Vict Sex        817640 non-null  object
 13  Vict Descent    817630 non-null  object
 14  Premis Cd       944225 non-null  float64
 15  Premis Desc     943668 non-null  object
 16  Weapon Used Cd  324477 non-null  float64
 17  Weapon Desc     324477 non-null  object
 18  Status          944235 non-null  object
 19  Status Desc     944235 non-null  object
 20  Crm Cd 1        944224 non-null  float64
 21  Crm Cd 2        68258 non-null   float64
 22  Crm Cd 3        2281 non-null    float64
 23  Crm Cd 4        64 non-null      float64
 24  LOCATION        944235 non-null  object
 25  Cross Street    147592 non-null  object
 26  LAT             944235 non-null  float64
 27  LON             944235 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 201.7+ MB

In [19]:
df.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.442350e+05,944235.000000,944235.00000,944235.000000,944235.000000,944235.000000,944235.000000,944225.000000,324477.000000,944224.000000,68258.000000,2281.000000,64.00000,944235.000000,944235.000000
mean,2.188777e+08,1338.047956,10.72113,1118.554020,1.409594,500.810848,29.499314,306.554488,363.710143,500.556373,958.083639,984.021920,991.21875,33.992364,-118.070963
std,1.246230e+07,652.446103,6.09928,609.969102,0.491759,207.283501,21.882246,217.561137,123.570915,207.076911,110.336391,51.798407,27.06985,1.670190,5.789397
min,8.170000e+02,1.000000,1.00000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.105081e+08,900.000000,6.00000,622.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014500,-118.430700
50%,2.206203e+08,1419.000000,11.00000,1142.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.307061e+08,1900.000000,16.00000,1619.000000,2.000000,626.000000,45.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.274000
max,2.499138e+08,2359.000000,21.00000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

In [33]:
len(df['Vict Descent'].unique())

21

In [14]:
df['DATE OCC'].values

array(['03/01/2020 12:00:00 AM', '02/08/2020 12:00:00 AM',
       '11/04/2020 12:00:00 AM', ..., '01/15/2024 12:00:00 AM',
       '04/24/2024 12:00:00 AM', '04/29/2024 12:00:00 AM'], dtype=object)

In [26]:
len(df[[a.find("/2023") != -1 for a in df['DATE OCC'].values]])

231642

In [208]:
df_2023 = df[[a.find("/2023") != -1 for a in df['DATE OCC'].values]]

In [209]:
df_2023['Rpt Dist No']

644378     668
644379     191
644380    1549
644381     192
644382     663
          ...
876015    1602
876016    1798
876017     154
876018     914
876019     395
Name: Rpt Dist No, Length: 231642, dtype: int64

# Preprocessing

In [211]:
df_crime_cd_mapping = df[['Crm Cd', 'Crm Cd Desc']]
df_crime_cd_mapping.head()

   Crm Cd                               Crm Cd Desc
0     510                          VEHICLE - STOLEN
1     330                     BURGLARY FROM VEHICLE
2     480                             BIKE - STOLEN
3     343  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4     354                         THEFT OF IDENTITY

In [212]:
list(df_crime_cd_mapping['Crm Cd Desc'].unique())

['VEHICLE - STOLEN',
 'BURGLARY FROM VEHICLE',
 'BIKE - STOLEN',
 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
 'THEFT OF IDENTITY',
 'BATTERY - SIMPLE ASSAULT',
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
 'CRIMINAL THREATS - NO WEAPON DISPLAYED',
 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
 'CHILD ANNOYING (17YRS & UNDER)',
 'BURGLARY',
 'CONTEMPT OF COURT',
 'THEFT PLAIN - PETTY ($950 & UNDER)',
 'INTIMATE PARTNER - SIMPLE ASSAULT',
 'LEWD CONDUCT',
 'THEFT PLAIN - ATTEMPT',
 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
 'ROBBERY',
 'BUNCO, GRAND THEFT',
 'BATTERY WITH SEXUAL CONTACT',
 'INTIMATE PARTNER - AGGRAVATED ASSAULT',
 'ORAL COPULATION',
 'UNAUTHORIZED COMPUTER ACCESS',
 'VIOLATION OF RESTRAINING ORDER',
 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
 'OTHER MISCELLANEOUS CRIME',
 'BRANDISH WEAPON',
 'DOCUMENT FORGERY / STOLEN FELONY',
 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
 'RAPE, FORCIBLE',
 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
 'THREATENING PHONE CALLS/LETTERS',
 'SEXUAL PENETRATION W/FOREIGN OBJECT',
 'EXTORTION',
 'OTHER ASSAULT',
 'PICKPOCKET',
 'ARSON',
 'DISTURBING THE PEACE',
 'BUNCO, ATTEMPT',
 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
 'PEEPING TOM',
 'VIOLATION OF COURT ORDER',
 'FALSE POLICE REPORT',
 'CONTRIBUTING',
 'FALSE IMPRISONMENT',
 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
 'ATTEMPTED ROBBERY',
 'CREDIT CARDS, FRAUD USE ($950 & UNDER',
 'CHILD STEALING',
 'LEWD/LASCIVIOUS ACTS WITH CHILD',
 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
 'INDECENT EXPOSURE',
 'CHILD NEGLECT (SEE 300 W.I.C.)',
 'STALKING',
 'DISHONEST EMPLOYEE - GRAND THEFT',
 'TRESPASSING',
 'BURGLARY, ATTEMPTED',
 'RAPE, ATTEMPTED',
 'DISCHARGE FIREARMS/SHOTS FIRED',
 'PIMPING',
 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
 'VEHICLE - ATTEMPT STOLEN',
 'PANDERING',
 'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
 'RESISTING ARREST',
 'BURGLARY FROM VEHICLE, ATTEMPTED',
 'THEFT, PERSON',
 'BATTERY POLICE (SIMPLE)',
 'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
 'THEFT FROM PERSON - ATTEMPT',
 'FAILURE TO YIELD',
 'BOMB SCARE',
 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
 'BUNCO, PETTY THEFT',
 'SHOTS FIRED AT INHABITED DWELLING',
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
 'KIDNAPPING - GRAND ATTEMPT',
 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
 'TILL TAP - GRAND THEFT ($950.01 & OVER)',
 'VIOLATION OF TEMPORARY RESTRAINING ORDER',
 'THROWING OBJECT AT MOVING VEHICLE',
 'DOCUMENT WORTHLESS ($200.01 & OVER)',
 'KIDNAPPING',
 'CRIMINAL HOMICIDE',
 'PURSE SNATCHING',
 'THEFT FROM MOTOR VEHICLE - ATTEMPT',
 'DISHONEST EMPLOYEE - PETTY THEFT',
 'CHILD PORNOGRAPHY',
 'WEAPONS POSSESSION/BOMBING',
 'DRIVING WITHOUT OWNER CONSENT (DWOC)',
 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
 'LYNCHING',
 'RECKLESS DRIVING',
 'SHOPLIFTING - ATTEMPT',
 'COUNTERFEIT',
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
 'BATTERY ON A FIREFIGHTER',
 'CRUELTY TO ANIMALS',
 'BOAT - STOLEN',
 'ILLEGAL DUMPING',
 'PROWLER',
 'DRUGS, TO A MINOR',
 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
 'DOCUMENT WORTHLESS ($200 & UNDER)',
 'MANSLAUGHTER, NEGLIGENT',
 'PETTY THEFT - AUTO REPAIR',
 'THEFT, COIN MACHINE - ATTEMPT',
 'TILL TAP - PETTY ($950 & UNDER)',
 'PURSE SNATCHING - ATTEMPT',
 'LYNCHING - ATTEMPTED',
 'BIKE - ATTEMPTED STOLEN',
 'GRAND THEFT / AUTO REPAIR',
 'CONSPIRACY',
 'BRIBERY',
 'GRAND THEFT / INSURANCE FRAUD',
 'DRUNK ROLL',
 'CHILD ABANDONMENT',
 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)',
 'DISRUPT SCHOOL',
 'PICKPOCKET, ATTEMPT',
 'TELEPHONE PROPERTY - DAMAGE',
 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
 'BIGAMY',
 'FAILURE TO DISPERSE',
 'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
 'BLOCKING DOOR INDUCTION CENTER',
 'INCITING A RIOT',
 'DISHONEST EMPLOYEE ATTEMPTED THEFT',
 'TRAIN WRECKING']

In [220]:
df_related = df[['Rpt Dist No', 'Crm Cd Desc', 'Vict Age', 'Vict Sex', 'Vict Descent', 'LAT', 'LON']]
df_related.head()

,Rpt Dist No,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,LAT,LON
0,784,VEHICLE - STOLEN,0,M,O,34.0375,-118.3506
1,182,BURGLARY FROM VEHICLE,47,M,O,34.0444,-118.2628
2,356,BIKE - STOLEN,19,X,X,34.0210,-118.3002
3,964,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,O,34.1576,-118.4387
4,666,THEFT OF IDENTITY,28,M,H,34.0944,-118.3277

In [152]:
ucr_categories_dict = {
    'homicide': [
        'CRIMINAL HOMICIDE',
        'LYNCHING - ATTEMPTED',
        'MANSLAUGHTER, NEGLIGENT',
        'LYNCHING'
    ],
    'rape': [
        'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
        'SEX, UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ)',
        'ORAL COPULATION', 
        'RAPE, FORCIBLE', 
        'RAPE, ATTEMPTED',
        'SEXUAL PENETRATION W/FOREIGN OBJECT',
        'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE'
    ],
    'robbery': [
        'ROBBERY', 
        'ATTEMPTED ROBBERY', 
        'PURSE SNATCHING', 
        'PURSE SNATCHING - ATTEMPT'
    ],
    'aggravated_assault': [
        'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
        'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
        'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
        'INTIMATE PARTNER - AGGRAVATED ASSAULT',
        'BATTERY WITH SEXUAL CONTACT', 
        'THREATENING PHONE CALLS/LETTERS',
        'CRIMINAL THREATS - NO WEAPON DISPLAYED', 
        'OTHER ASSAULT',
        'CRUELTY TO ANIMALS',
        'THROWING OBJECT AT MOVING VEHICLE'
    ],
    'kidnapping': ['KIDNAPPING', 'KIDNAPPING - GRAND ATTEMPT'],
    'burglary': [
        'BURGLARY', 
        'BURGLARY FROM VEHICLE', 
        'BURGLARY, ATTEMPTED',
        'BURGLARY FROM VEHICLE, ATTEMPTED'
    ],
    'contributing': ['CONTRIBUTING'],
    'larceny_theft': [
        'THEFT PLAIN - PETTY ($950 & UNDER)', 
        'THEFT PLAIN - ATTEMPT',
        'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
        'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
        'THEFT FROM MOTOR VEHICLE - ATTEMPT', 
        'VEHICLE - STOLEN',
        'VEHICLE - ATTEMPT STOLEN', 
        'BIKE - STOLEN', 
        'BIKE - ATTEMPTED STOLEN',
        'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 
        'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
        'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)', 
        'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
        'THEFT OF IDENTITY', 
        'THEFT, PERSON', 
        'THEFT FROM PERSON - ATTEMPT',
        'THEFT, COIN MACHINE - PETTY ($950 & UNDER)', 
        'THEFT, COIN MACHINE - ATTEMPT',
        'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 
        'BUNCO, GRAND THEFT',
        'BUNCO, PETTY THEFT', 
        'BUNCO, ATTEMPT',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
        'DISHONEST EMPLOYEE - GRAND THEFT', 
        'DISHONEST EMPLOYEE - PETTY THEFT',
        'DISHONEST EMPLOYEE ATTEMPTED THEFT', 
        'DOCUMENT FORGERY / STOLEN FELONY',
        'DOCUMENT WORTHLESS ($200.01 & OVER)', 
        'DOCUMENT WORTHLESS ($200 & UNDER)',
        'CREDIT CARDS, FRAUD USE ($950.01 & OVER)', 
        'CREDIT CARDS, FRAUD USE ($950 & UNDER',
        'COUNTERFEIT', 
        'EXTORTION', 
        'UNAUTHORIZED COMPUTER ACCESS', 
        'CONSPIRACY',
        'BRIBERY', 
        'GRAND THEFT / AUTO REPAIR', 
        'GRAND THEFT / INSURANCE FRAUD',
        'FAILURE TO YIELD',
        'SHOPLIFTING - ATTEMPT', 
        'ILLEGAL DUMPING', 
        'OTHER MISCELLANEOUS CRIME',
        'PETTY THEFT - AUTO REPAIR',
        'TILL TAP - GRAND THEFT ($950.01 & OVER)',
        'TILL TAP - PETTY ($950 & UNDER)',
        'PICKPOCKET',
        'PICKPOCKET, ATTEMPT',
        'TRESPASSING'
    ],
    'grand_theft_auto': [
        'VEHICLE - STOLEN', 
        'VEHICLE - ATTEMPT STOLEN',
        'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
        'DRIVING WITHOUT OWNER CONSENT (DWOC)', 
        'BOAT - STOLEN',
        'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD'
    ],
    'arson': [
        'ARSON'
    ],
    'forgery': [
        'DOCUMENT FORGERY / STOLEN FELONY',
        'DOCUMENT WORTHLESS ($200.01 & OVER)',
        'DOCUMENT WORTHLESS ($200 & UNDER)',
        'COUNTERFEIT'
    ],
    'fraud': [
        'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
        'CREDIT CARDS, FRAUD USE ($950 & UNDER',
        'EXTORTION',
        'UNAUTHORIZED COMPUTER ACCESS',
        'CONSPIRACY',
        'BRIBERY',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
        'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
        'THEFT OF IDENTITY'
    ],
    'sex_offenses_felonies': [
        'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
        'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
        'ORAL COPULATION', 
        'RAPE, FORCIBLE', 
        'RAPE, ATTEMPTED',
        'LEWD/LASCIVIOUS ACTS WITH CHILD',
        'CHILD PORNOGRAPHY',
        'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
        'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
        'PIMPING',
        'PANDERING'
    ],
    'sex_offenses_misdemeanors': [
        'INDECENT EXPOSURE',
        'PEEPING TOM',
        'LEWD CONDUCT',
        'CHILD ANNOYING (17YRS & UNDER)',
        'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
        'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',

    ],
    'non_aggravated_assaults': [
        'BATTERY - SIMPLE ASSAULT',
        'INTIMATE PARTNER - SIMPLE ASSAULT',
        'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
        'BATTERY POLICE (SIMPLE)',
        'FALSE IMPRISONMENT',
        'BATTERY WITH SEXUAL CONTACT',
        'BATTERY ON A FIREFIGHTER',
        'PROWLER',
        'STALKING'
    ],
    'weapon_laws': [
        'WEAPONS POSSESSION/BOMBING',
        'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
        'BRANDISH WEAPON',
        'DISCHARGE FIREARMS/SHOTS FIRED',
        'SHOTS FIRED AT INHABITED DWELLING',
        'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
        'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)'
    ],
    'offenses_against_family': [
        'CHILD ABANDONMENT',
        'CHILD NEGLECT (SEE 300 W.I.C.)',
        'CHILD STEALING',
        'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
        'CONTEMPT OF COURT',
        'VIOLATION OF RESTRAINING ORDER',
        'VIOLATION OF TEMPORARY RESTRAINING ORDER',
        'VIOLATION OF COURT ORDER',
        'BIGAMY',
        'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)'
    ],
    'narcotics': [
        'DRUGS, TO A MINOR'
    ],
    'drunk_alcohol_drugs': [
        'DRUNK ROLL'
    ],
    'disorderly_conduct': [
        'DISTURBING THE PEACE',
        'INCITING A RIOT',
        'DISRUPT SCHOOL',
        'FAILURE TO DISPERSE',
        'BLOCKING DOOR INDUCTION CENTER',
        'BOMB SCARE',
        'RESISTING ARREST'
    ],
    'drunk_driving': [
        'RECKLESS DRIVING',
        'FAILURE TO YIELD'
    ],
    'vehicle_boating_laws': [
        'DRIVING WITHOUT OWNER CONSENT (DWOC)',
        'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)'
    ],
    'vandalism': [
        'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
        'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
        'TELEPHONE PROPERTY - DAMAGE',
        'TRAIN WRECKING'
    ],
    'receiving_stolen_property': [
        'RECEIVING STOLEN PROPERTY'
    ],
    'federal_offenses_wo_money': [
        'FALSE POLICE REPORT',
        'CONSPIRACY',
        'EXTORTION',
        'ILLEGAL DUMPING',
        'INCITING A RIOT',
        'BLOCKING DOOR INDUCTION CENTER'
    ]
}

In [153]:
len(ucr_categories_dict.keys())

25

In [154]:
ucr_cat_score_dict = {
    'homicide': 5,
    'rape': 5,
    'kidnapping': 5,
    'sex_offenses_felonies': 5,
    'aggravated_assault': 4,
    'sex_offenses_misdemeanors': 4,
    'arson': 4,
    'non_aggravated_assaults': 4,
    'weapon_laws': 3,
    'grand_theft_auto': 3,
    'narcotics': 2,
    'drunk_alcohol_drugs': 2,
    'robbery': 2,
    'burglary': 2,
    'larceny_theft': 2,
    'offenses_against_family': 2,
    'drunk_driving': 2,
    'federal_offenses_wo_money': 2,
    'vandalism': 1,
    'disorderly_conduct': 1,
    'forgery': 1,
    'fraud': 1,
    'vehicle_boating_laws': 1,
    'receiving_stolen_property': 1,
    'contributing': 0,
}
len(ucr_cat_score_dict.keys())

25

In [155]:
ucr_categories_dict.items()

dict_items([('homicide', ['CRIMINAL HOMICIDE', 'LYNCHING - ATTEMPTED', 'MANSLAUGHTER, NEGLIGENT', 'LYNCHING']), ('rape', ['SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH', 'SEX, UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ)', 'ORAL COPULATION', 'RAPE, FORCIBLE', 'RAPE, ATTEMPTED', 'SEXUAL PENETRATION W/FOREIGN OBJECT', 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE']), ('robbery', ['ROBBERY', 'ATTEMPTED ROBBERY', 'PURSE SNATCHING', 'PURSE SNATCHING - ATTEMPT']), ('aggravated_assault', ['ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT', 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER', 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT', 'INTIMATE PARTNER - AGGRAVATED ASSAULT', 'BATTERY WITH SEXUAL CONTACT', 'THREATENING PHONE CALLS/LETTERS', 'CRIMINAL THREATS - NO WEAPON DISPLAYED', 'OTHER ASSAULT', 'CRUELTY TO ANIMALS', 'THROWING OBJECT AT MOVING VEHICLE']), ('kidnapping', ['KIDNAPPING', 'KIDNAPPING - GRAND ATTEMPT']), ('burglary', ['BURGLARY', 'BURGLARY FROM VEHICLE', 'BURGLARY, ATTEMPTED', 'BURGLARY FROM VEHICLE, ATTEMPTED']), ('contributing', ['CONTRIBUTING']), ('larceny_theft', ['THEFT PLAIN - PETTY ($950 & UNDER)', 'THEFT PLAIN - ATTEMPT', 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)', 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)', 'THEFT FROM MOTOR VEHICLE - ATTEMPT', 'VEHICLE - STOLEN', 'VEHICLE - ATTEMPT STOLEN', 'BIKE - STOLEN', 'BIKE - ATTEMPTED STOLEN', 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)', 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)', 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)', 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)', 'THEFT OF IDENTITY', 'THEFT, PERSON', 'THEFT FROM PERSON - ATTEMPT', 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)', 'THEFT, COIN MACHINE - ATTEMPT', 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)', 'BUNCO, GRAND THEFT', 'BUNCO, PETTY THEFT', 'BUNCO, ATTEMPT', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01', 'DISHONEST EMPLOYEE - GRAND THEFT', 'DISHONEST EMPLOYEE - PETTY THEFT', 'DISHONEST EMPLOYEE ATTEMPTED THEFT', 'DOCUMENT FORGERY / STOLEN FELONY', 'DOCUMENT WORTHLESS ($200.01 & OVER)', 'DOCUMENT WORTHLESS ($200 & UNDER)', 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)', 'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'COUNTERFEIT', 'EXTORTION', 'UNAUTHORIZED COMPUTER ACCESS', 'CONSPIRACY', 'BRIBERY', 'GRAND THEFT / AUTO REPAIR', 'GRAND THEFT / INSURANCE FRAUD', 'FAILURE TO YIELD', 'SHOPLIFTING - ATTEMPT', 'ILLEGAL DUMPING', 'OTHER MISCELLANEOUS CRIME', 'PETTY THEFT - AUTO REPAIR', 'TILL TAP - GRAND THEFT ($950.01 & OVER)', 'TILL TAP - PETTY ($950 & UNDER)', 'PICKPOCKET', 'PICKPOCKET, ATTEMPT', 'TRESPASSING']), ('grand_theft_auto', ['VEHICLE - STOLEN', 'VEHICLE - ATTEMPT STOLEN', 'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)', 'DRIVING WITHOUT OWNER CONSENT (DWOC)', 'BOAT - STOLEN', 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD']), ('arson', ['ARSON']), ('forgery', ['DOCUMENT FORGERY / STOLEN FELONY', 'DOCUMENT WORTHLESS ($200.01 & OVER)', 'DOCUMENT WORTHLESS ($200 & UNDER)', 'COUNTERFEIT']), ('fraud', ['CREDIT CARDS, FRAUD USE ($950.01 & OVER)', 'CREDIT CARDS, FRAUD USE ($950 & UNDER', 'EXTORTION', 'UNAUTHORIZED COMPUTER ACCESS', 'CONSPIRACY', 'BRIBERY', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER', 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01', 'THEFT OF IDENTITY']), ('sex_offenses_felonies', ['SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH', 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ', 'ORAL COPULATION', 'RAPE, FORCIBLE', 'RAPE, ATTEMPTED', 'LEWD/LASCIVIOUS ACTS WITH CHILD', 'CHILD PORNOGRAPHY', 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE', 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS', 'PIMPING', 'PANDERING']), ('sex_offenses_misdemeanors', ['INDECENT EXPOSURE', 'PEEPING TOM', 'LEWD CONDUCT', 'CHILD ANNOYING (17YRS & UNDER)', 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM', 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD']), ('non_aggravated_assaults', ['BATTERY - SIMPLE ASSAULT', 'INTIMATE PARTNER - SIMPLE ASSAULT', 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT', 'BATTERY POLICE (SIMPLE)', 'FALSE IMPRISONMENT', 'BATTERY WITH SEXUAL CONTACT', 'BATTERY ON A FIREFIGHTER', 'PROWLER', 'STALKING']), ('weapon_laws', ['WEAPONS POSSESSION/BOMBING', 'FIREARMS RESTRAINING ORDER (FIREARMS RO)', 'BRANDISH WEAPON', 'DISCHARGE FIREARMS/SHOTS FIRED', 'SHOTS FIRED AT INHABITED DWELLING', 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT', 'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)']), ('offenses_against_family', ['CHILD ABANDONMENT', 'CHILD NEGLECT (SEE 300 W.I.C.)', 'CHILD STEALING', 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)', 'CONTEMPT OF COURT', 'VIOLATION OF RESTRAINING ORDER', 'VIOLATION OF TEMPORARY RESTRAINING ORDER', 'VIOLATION OF COURT ORDER', 'BIGAMY', 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)']), ('narcotics', ['DRUGS, TO A MINOR']), ('drunk_alcohol_drugs', ['DRUNK ROLL']), ('disorderly_conduct', ['DISTURBING THE PEACE', 'INCITING A RIOT', 'DISRUPT SCHOOL', 'FAILURE TO DISPERSE', 'BLOCKING DOOR INDUCTION CENTER', 'BOMB SCARE', 'RESISTING ARREST']), ('drunk_driving', ['RECKLESS DRIVING', 'FAILURE TO YIELD']), ('vehicle_boating_laws', ['DRIVING WITHOUT OWNER CONSENT (DWOC)', 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)']), ('vandalism', ['VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)', 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)', 'TELEPHONE PROPERTY - DAMAGE', 'TRAIN WRECKING']), ('receiving_stolen_property', ['RECEIVING STOLEN PROPERTY']), ('federal_offenses_wo_money', ['FALSE POLICE REPORT', 'CONSPIRACY', 'EXTORTION', 'ILLEGAL DUMPING', 'INCITING A RIOT', 'BLOCKING DOOR INDUCTION CENTER'])])

In [156]:
cats_score = {}
for k, v in ucr_categories_dict.items():
    for c in v:
        cats_score[c] = ucr_cat_score_dict[k]
cats_score

{'CRIMINAL HOMICIDE': 5,
 'LYNCHING - ATTEMPTED': 5,
 'MANSLAUGHTER, NEGLIGENT': 5,
 'LYNCHING': 5,
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH': 5,
 'SEX, UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ)': 5,
 'ORAL COPULATION': 5,
 'RAPE, FORCIBLE': 5,
 'RAPE, ATTEMPTED': 5,
 'SEXUAL PENETRATION W/FOREIGN OBJECT': 5,
 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE': 5,
 'ROBBERY': 2,
 'ATTEMPTED ROBBERY': 2,
 'PURSE SNATCHING': 2,
 'PURSE SNATCHING - ATTEMPT': 2,
 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT': 4,
 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER': 4,
 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT': 4,
 'INTIMATE PARTNER - AGGRAVATED ASSAULT': 4,
 'BATTERY WITH SEXUAL CONTACT': 4,
 'THREATENING PHONE CALLS/LETTERS': 4,
 'CRIMINAL THREATS - NO WEAPON DISPLAYED': 4,
 'OTHER ASSAULT': 4,
 'CRUELTY TO ANIMALS': 4,
 'THROWING OBJECT AT MOVING VEHICLE': 4,
 'KIDNAPPING': 5,
 'KIDNAPPING - GRAND ATTEMPT': 5,
 'BURGLARY': 2,
 'BURGLARY FROM VEHICLE': 2,
 'BURGLARY, ATTEMPTED': 2,
 'BURGLARY FROM VEHICLE, ATTEMPTED': 2,
 'CONTRIBUTING': 0,
 'THEFT PLAIN - PETTY ($950 & UNDER)': 2,
 'THEFT PLAIN - ATTEMPT': 2,
 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)': 2,
 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)': 2,
 'THEFT FROM MOTOR VEHICLE - ATTEMPT': 2,
 'VEHICLE - STOLEN': 3,
 'VEHICLE - ATTEMPT STOLEN': 3,
 'BIKE - STOLEN': 2,
 'BIKE - ATTEMPTED STOLEN': 2,
 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)': 2,
 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)': 2,
 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)': 2,
 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)': 2,
 'THEFT OF IDENTITY': 1,
 'THEFT, PERSON': 2,
 'THEFT FROM PERSON - ATTEMPT': 2,
 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)': 2,
 'THEFT, COIN MACHINE - ATTEMPT': 2,
 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)': 2,
 'BUNCO, GRAND THEFT': 2,
 'BUNCO, PETTY THEFT': 2,
 'BUNCO, ATTEMPT': 2,
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER': 1,
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01': 1,
 'DISHONEST EMPLOYEE - GRAND THEFT': 2,
 'DISHONEST EMPLOYEE - PETTY THEFT': 2,
 'DISHONEST EMPLOYEE ATTEMPTED THEFT': 2,
 'DOCUMENT FORGERY / STOLEN FELONY': 1,
 'DOCUMENT WORTHLESS ($200.01 & OVER)': 1,
 'DOCUMENT WORTHLESS ($200 & UNDER)': 1,
 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)': 1,
 'CREDIT CARDS, FRAUD USE ($950 & UNDER': 1,
 'COUNTERFEIT': 1,
 'EXTORTION': 2,
 'UNAUTHORIZED COMPUTER ACCESS': 1,
 'CONSPIRACY': 2,
 'BRIBERY': 1,
 'GRAND THEFT / AUTO REPAIR': 2,
 'GRAND THEFT / INSURANCE FRAUD': 2,
 'FAILURE TO YIELD': 2,
 'SHOPLIFTING - ATTEMPT': 2,
 'ILLEGAL DUMPING': 2,
 'OTHER MISCELLANEOUS CRIME': 2,
 'PETTY THEFT - AUTO REPAIR': 2,
 'TILL TAP - GRAND THEFT ($950.01 & OVER)': 2,
 'TILL TAP - PETTY ($950 & UNDER)': 2,
 'PICKPOCKET': 2,
 'PICKPOCKET, ATTEMPT': 2,
 'TRESPASSING': 2,
 'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)': 3,
 'DRIVING WITHOUT OWNER CONSENT (DWOC)': 1,
 'BOAT - STOLEN': 3,
 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD': 3,
 'ARSON': 4,
 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ': 5,
 'LEWD/LASCIVIOUS ACTS WITH CHILD': 5,
 'CHILD PORNOGRAPHY': 5,
 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE': 5,
 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS': 5,
 'PIMPING': 5,
 'PANDERING': 5,
 'INDECENT EXPOSURE': 4,
 'PEEPING TOM': 4,
 'LEWD CONDUCT': 4,
 'CHILD ANNOYING (17YRS & UNDER)': 4,
 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM': 4,
 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD': 4,
 'BATTERY - SIMPLE ASSAULT': 4,
 'INTIMATE PARTNER - SIMPLE ASSAULT': 4,
 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT': 4,
 'BATTERY POLICE (SIMPLE)': 4,
 'FALSE IMPRISONMENT': 4,
 'BATTERY ON A FIREFIGHTER': 4,
 'PROWLER': 4,
 'STALKING': 4,
 'WEAPONS POSSESSION/BOMBING': 3,
 'FIREARMS RESTRAINING ORDER (FIREARMS RO)': 3,
 'BRANDISH WEAPON': 3,
 'DISCHARGE FIREARMS/SHOTS FIRED': 3,
 'SHOTS FIRED AT INHABITED DWELLING': 3,
 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT': 3,
 'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)': 3,
 'CHILD ABANDONMENT': 2,
 'CHILD NEGLECT (SEE 300 W.I.C.)': 2,
 'CHILD STEALING': 2,
 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)': 2,
 'CONTEMPT OF COURT': 2,
 'VIOLATION OF RESTRAINING ORDER': 2,
 'VIOLATION OF TEMPORARY RESTRAINING ORDER': 2,
 'VIOLATION OF COURT ORDER': 2,
 'BIGAMY': 2,
 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)': 2,
 'DRUGS, TO A MINOR': 2,
 'DRUNK ROLL': 2,
 'DISTURBING THE PEACE': 1,
 'INCITING A RIOT': 2,
 'DISRUPT SCHOOL': 1,
 'FAILURE TO DISPERSE': 1,
 'BLOCKING DOOR INDUCTION CENTER': 2,
 'BOMB SCARE': 1,
 'RESISTING ARREST': 1,
 'RECKLESS DRIVING': 2,
 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)': 1,
 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)': 1,
 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)': 1,
 'TELEPHONE PROPERTY - DAMAGE': 1,
 'TRAIN WRECKING': 1,
 'RECEIVING STOLEN PROPERTY': 1,
 'FALSE POLICE REPORT': 2}

In [158]:
vals = []
for a in ucr_categories_dict.values():
    for b in a:
        vals.append(b)
vals

['CRIMINAL HOMICIDE',
 'LYNCHING - ATTEMPTED',
 'MANSLAUGHTER, NEGLIGENT',
 'LYNCHING',
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
 'SEX, UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ)',
 'ORAL COPULATION',
 'RAPE, FORCIBLE',
 'RAPE, ATTEMPTED',
 'SEXUAL PENETRATION W/FOREIGN OBJECT',
 'SEX OFFENDER REGISTRANT OUT OF COMPLIANCE',
 'ROBBERY',
 'ATTEMPTED ROBBERY',
 'PURSE SNATCHING',
 'PURSE SNATCHING - ATTEMPT',
 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT',
 'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER',
 'CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT',
 'INTIMATE PARTNER - AGGRAVATED ASSAULT',
 'BATTERY WITH SEXUAL CONTACT',
 'THREATENING PHONE CALLS/LETTERS',
 'CRIMINAL THREATS - NO WEAPON DISPLAYED',
 'OTHER ASSAULT',
 'CRUELTY TO ANIMALS',
 'THROWING OBJECT AT MOVING VEHICLE',
 'KIDNAPPING',
 'KIDNAPPING - GRAND ATTEMPT',
 'BURGLARY',
 'BURGLARY FROM VEHICLE',
 'BURGLARY, ATTEMPTED',
 'BURGLARY FROM VEHICLE, ATTEMPTED',
 'CONTRIBUTING',
 'THEFT PLAIN - PETTY ($950 & UNDER)',
 'THEFT PLAIN - ATTEMPT',
 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)',
 'THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)',
 'THEFT FROM MOTOR VEHICLE - ATTEMPT',
 'VEHICLE - STOLEN',
 'VEHICLE - ATTEMPT STOLEN',
 'BIKE - STOLEN',
 'BIKE - ATTEMPTED STOLEN',
 'SHOPLIFTING-GRAND THEFT ($950.01 & OVER)',
 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)',
 'EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)',
 'EMBEZZLEMENT, PETTY THEFT ($950 & UNDER)',
 'THEFT OF IDENTITY',
 'THEFT, PERSON',
 'THEFT FROM PERSON - ATTEMPT',
 'THEFT, COIN MACHINE - PETTY ($950 & UNDER)',
 'THEFT, COIN MACHINE - ATTEMPT',
 'THEFT, COIN MACHINE - GRAND ($950.01 & OVER)',
 'BUNCO, GRAND THEFT',
 'BUNCO, PETTY THEFT',
 'BUNCO, ATTEMPT',
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
 'DISHONEST EMPLOYEE - GRAND THEFT',
 'DISHONEST EMPLOYEE - PETTY THEFT',
 'DISHONEST EMPLOYEE ATTEMPTED THEFT',
 'DOCUMENT FORGERY / STOLEN FELONY',
 'DOCUMENT WORTHLESS ($200.01 & OVER)',
 'DOCUMENT WORTHLESS ($200 & UNDER)',
 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
 'CREDIT CARDS, FRAUD USE ($950 & UNDER',
 'COUNTERFEIT',
 'EXTORTION',
 'UNAUTHORIZED COMPUTER ACCESS',
 'CONSPIRACY',
 'BRIBERY',
 'GRAND THEFT / AUTO REPAIR',
 'GRAND THEFT / INSURANCE FRAUD',
 'FAILURE TO YIELD',
 'SHOPLIFTING - ATTEMPT',
 'ILLEGAL DUMPING',
 'OTHER MISCELLANEOUS CRIME',
 'PETTY THEFT - AUTO REPAIR',
 'TILL TAP - GRAND THEFT ($950.01 & OVER)',
 'TILL TAP - PETTY ($950 & UNDER)',
 'PICKPOCKET',
 'PICKPOCKET, ATTEMPT',
 'TRESPASSING',
 'VEHICLE - STOLEN',
 'VEHICLE - ATTEMPT STOLEN',
 'VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)',
 'DRIVING WITHOUT OWNER CONSENT (DWOC)',
 'BOAT - STOLEN',
 'THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD',
 'ARSON',
 'DOCUMENT FORGERY / STOLEN FELONY',
 'DOCUMENT WORTHLESS ($200.01 & OVER)',
 'DOCUMENT WORTHLESS ($200 & UNDER)',
 'COUNTERFEIT',
 'CREDIT CARDS, FRAUD USE ($950.01 & OVER)',
 'CREDIT CARDS, FRAUD USE ($950 & UNDER',
 'EXTORTION',
 'UNAUTHORIZED COMPUTER ACCESS',
 'CONSPIRACY',
 'BRIBERY',
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, $950 & UNDER',
 'DEFRAUDING INNKEEPER/THEFT OF SERVICES, OVER $950.01',
 'THEFT OF IDENTITY',
 'SODOMY/SEXUAL CONTACT B/W PENIS OF ONE PERS TO ANUS OTH',
 'SEX,UNLAWFUL(INC MUTUAL CONSENT, PENETRATION W/ FRGN OBJ',
 'ORAL COPULATION',
 'RAPE, FORCIBLE',
 'RAPE, ATTEMPTED',
 'LEWD/LASCIVIOUS ACTS WITH CHILD',
 'CHILD PORNOGRAPHY',
 'HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE',
 'HUMAN TRAFFICKING - COMMERCIAL SEX ACTS',
 'PIMPING',
 'PANDERING',
 'INDECENT EXPOSURE',
 'PEEPING TOM',
 'LEWD CONDUCT',
 'CHILD ANNOYING (17YRS & UNDER)',
 'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM',
 'LETTERS, LEWD  -  TELEPHONE CALLS, LEWD',
 'BATTERY - SIMPLE ASSAULT',
 'INTIMATE PARTNER - SIMPLE ASSAULT',
 'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT',
 'BATTERY POLICE (SIMPLE)',
 'FALSE IMPRISONMENT',
 'BATTERY WITH SEXUAL CONTACT',
 'BATTERY ON A FIREFIGHTER',
 'PROWLER',
 'STALKING',
 'WEAPONS POSSESSION/BOMBING',
 'FIREARMS RESTRAINING ORDER (FIREARMS RO)',
 'BRANDISH WEAPON',
 'DISCHARGE FIREARMS/SHOTS FIRED',
 'SHOTS FIRED AT INHABITED DWELLING',
 'SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT',
 'FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)',
 'CHILD ABANDONMENT',
 'CHILD NEGLECT (SEE 300 W.I.C.)',
 'CHILD STEALING',
 'CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)',
 'CONTEMPT OF COURT',
 'VIOLATION OF RESTRAINING ORDER',
 'VIOLATION OF TEMPORARY RESTRAINING ORDER',
 'VIOLATION OF COURT ORDER',
 'BIGAMY',
 'INCEST (SEXUAL ACTS BETWEEN BLOOD RELATIVES)',
 'DRUGS, TO A MINOR',
 'DRUNK ROLL',
 'DISTURBING THE PEACE',
 'INCITING A RIOT',
 'DISRUPT SCHOOL',
 'FAILURE TO DISPERSE',
 'BLOCKING DOOR INDUCTION CENTER',
 'BOMB SCARE',
 'RESISTING ARREST',
 'RECKLESS DRIVING',
 'FAILURE TO YIELD',
 'DRIVING WITHOUT OWNER CONSENT (DWOC)',
 'REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)',
 'VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)',
 'VANDALISM - MISDEAMEANOR ($399 OR UNDER)',
 'TELEPHONE PROPERTY - DAMAGE',
 'TRAIN WRECKING',
 'RECEIVING STOLEN PROPERTY',
 'FALSE POLICE REPORT',
 'CONSPIRACY',
 'EXTORTION',
 'ILLEGAL DUMPING',
 'INCITING A RIOT',
 'BLOCKING DOOR INDUCTION CENTER']

In [159]:
df_related['Rpt Dist No'].value_counts()

Rpt Dist No
162     4976
645     4684
1494    4519
182     4480
646     4156
        ...
704        1
1784       1
225        1
1053       1
709        1
Name: count, Length: 1209, dtype: int64

In [221]:
df_related[['Crm Cd Desc']] = df_related[['Crm Cd Desc']].map(lambda x: cats_score[x]).fillna(0)

/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/75661267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_related[['Crm Cd Desc']] = df_related[['Crm Cd Desc']].map(lambda x: cats_score[x]).fillna(0)

In [136]:
df_related[['Crm Cd Desc']]

        Crm Cd Desc
0                 3
1                 2
2                 2
3                 2
4                 1
...             ...
944230            2
944231            4
944232            1
944233            4
944234            1

[944235 rows x 1 columns]

In [ ]:
districts = list()
for x in df_related['Rpt Dist No'].unique():
    districts.append(df_related[df_related['Rpt Dist No'] == x])
districts[0]

[        Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 0               784            3         0        M            O  34.0375
 1803            784            1        31        F            B  34.0400
 2090            784            2        64        M            O  34.0361
 2659            784            3         0      NaN          NaN  34.0385
 3241            784            4        67        F            B  34.0358
 ...             ...          ...       ...      ...          ...      ...
 937069          784            4        27        F            B  34.0390
 938215          784            2        41        F            B  34.0391
 941331          784            4        51        M            H  34.0385
 942292          784            2        64        F            H  34.0406
 942745          784            2         0      NaN          NaN  34.0398

              LON
 0      -118.3506
 1803   -118.3515
 2090   -118.3505
 2659   -118.3485
 3241   -118.3517
 ...          ...
 937069 -118.3515
 938215 -118.3464
 941331 -118.3485
 942292 -118.3486
 942745 -118.3501

 [664 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 1               182            2        47        M            O  34.0444
 6               182            1        25        M            H  34.0415
 321             182            2        28        M            W  34.0415
 393             182            5        23        F            B  34.0401
 840             182            1        22        M            V  34.0408
 ...             ...          ...       ...      ...          ...      ...
 943488          182            3         0      NaN          NaN  34.0420
 943932          182            3         0      NaN          NaN  34.0458
 944059          182            2        21        M            H  34.0430
 944101          182            1         0        X            X  34.0420
 944194          182            2        31        M            W  34.0394

              LON
 1      -118.2628
 6      -118.2620
 321    -118.2620
 393    -118.2633
 840    -118.2644
 ...          ...
 943488 -118.2625
 943932 -118.2614
 944059 -118.2606
 944101 -118.2625
 944194 -118.2623

 [4480 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 2               356            2        19        X            X  34.0210
 1145            356            5        17        F            B  34.0228
 1929            356            2        37        M            B  34.0256
 2497            356            4        30        F            W  34.0228
 3019            356            2        47        M            H  34.0200
 ...             ...          ...       ...      ...          ...      ...
 941077          356            2        49        F            H  34.0200
 941821          356            4        29        M            H  34.0256
 942316          356            2        23        X            X  34.0210
 943861          356            2        21        M            W  34.0200
 943895          356            4        39        M            B  34.0219

              LON
 2      -118.3002
 1145   -118.3002
 1929   -118.3061
 2497   -118.3002
 3019   -118.3029
 ...          ...
 941077 -118.3062
 941821 -118.3061
 942316 -118.3089
 943861 -118.3002
 943895 -118.3061

 [1493 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 3               964            2        19        M            O  34.1576
 134             964            2        22        F            W  34.1576
 306             964            1        46        M            O  34.1635
 1210            964            1        48        M            W  34.1599
 2212            964            1        33        M            H  34.1603
 ...             ...          ...       ...      ...          ...      ...
 943012          964            3         0      NaN          NaN  34.1576
 943132          964            2        45        M            H  34.1603
 943229          964            2        50        M            W  34.1576
 943360          964            2        38        F            O  34.1594
 944144          964            2         0      NaN          NaN  34.1576

              LON
 3      -118.4387
 134    -118.4389
 306    -118.4411
 1210   -118.4353
 2212   -118.4399
 ...          ...
 943012 -118.4387
 943132 -118.4399
 943229 -118.4312
 943360 -118.4400
 944144 -118.4387

 [2022 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 4               666            1        28        M            H  34.0944
 236             666            1        57        F            W  34.0917
 268             666            4        41        M            W  34.0925
 344             666            2        28        F            H  34.0926
 749             666            1        27        M            O  34.0980
 ...             ...          ...       ...      ...          ...      ...
 942871          666            1        50        M            W  34.0962
 943276          666            4        28        F            H  34.0944
 943392          666            4        36        F            B  34.0980
 943721          666            2        31        M            O  34.0980
 943732          666            2        44        M            W  34.0953

              LON
 4      -118.3277
 236    -118.3244
 268    -118.3288
 344    -118.3245
 749    -118.3237
 ...          ...
 942871 -118.3295
 943276 -118.3266
 943392 -118.3310
 943721 -118.3237
 943732 -118.3223

 [2750 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 5              1826            1        41        M            H  33.9467
 927            1826            2         0      NaN          NaN  33.9451
 2464           1826            4         0        X            X  33.9533
 4033           1826            4        26        F            H  33.9507
 4390           1826            4        57        M            B  33.9432
 ...             ...          ...       ...      ...          ...      ...
 941390         1826            3         0      NaN          NaN  33.9485
 941755         1826            2         0        X            X  33.9485
 942538         1826            2         0      NaN          NaN  33.9521
 943549         1826            4         0        X            X  33.9433
 943710         1826            4        41        F            H  33.9543

              LON
 5      -118.2463
 927    -118.2482
 2464   -118.2475
 4033   -118.2445
 4390   -118.2462
 ...          ...
 941390 -118.2461
 941755 -118.2461
 942538 -118.2446
 943549 -118.2492
 943710 -118.2475

 [1638 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 7               303            1        27        F            B  34.0335
 5842            303            1        43        M            H  34.0336
 6826            303            2        44        M            H  34.0336
 11075           303            2         0      NaN          NaN  34.0334
 17386           303            4        58        F            B  34.0330
 ...             ...          ...       ...      ...          ...      ...
 904232          303            2        46        F            H  34.0334
 909438          303            2        48        F            O  34.0334
 918491          303            3         0      NaN          NaN  34.0334
 922679          303            2        23        F            W  34.0334
 942036          303            2        34        F            O  34.0334

              LON
 7      -118.3537
 5842   -118.3526
 6826   -118.3526
 11075  -118.3523
 17386  -118.3506
 ...          ...
 904232 -118.3523
 909438 -118.3523
 918491 -118.3523
 922679 -118.3523
 942036 -118.3523

 [150 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 8              1375            1        24        F            B  33.9911
 2084           1375            4        24        M            H  33.9921
 2342           1375            4        37        F            H  33.9948
 3775           1375            3        24        F            H  33.9930
 3851           1375            4        26        F            H  33.9921
 ...             ...          ...       ...      ...          ...      ...
 937574         1375            2        53        F            B  33.9911
 938964         1375            4        38        F            B  33.9921
 939447         1375            4        21        F            O  33.9893
 940098         1375            4        22        F            H  33.9902
 941218         1375            1        33        F            H  33.9920

              LON
 8      -118.2521
 2084   -118.2559
 2342   -118.2565
 3775   -118.2521
 3851   -118.2521
 ...          ...
 937574 -118.2499
 938964 -118.2521
 939447 -118.2521
 940098 -118.2564
 941218 -118.2499

 [848 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 9              1974            4        26        M            H  34.2336
 209            1974            4         5        F            H  34.2337
 548            1974            1        19        M            B  34.2336
 700            1974            1        45        M            W  34.2337
 1360           1974            4         3        M            H  34.2337
 ...             ...          ...       ...      ...          ...      ...
 935908         1974            4        14        M            H  34.2337
 936275         1974            3         0      NaN          NaN  34.2354
 936921         1974            1        57        M            B  34.2337
 939952         1974            5        16        F            B  34.2354
 940886         1974            4        65        F            H  34.2336

              LON
 9      -118.4535
 209    -118.4553
 548    -118.4517
 700    -118.4553
 1360   -118.4553
 ...          ...
 935908 -118.4536
 936275 -118.4517
 936921 -118.4553
 939952 -118.4502
 940886 -118.4535

 [974 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 10             1822            1        26        M            B  33.9492
 263            1822            5        27        F            H  33.9428
 515            1822            1        34        M            B  33.9465
 560            1822            1        76        M            H  33.9472
 664            1822            1        31        M            H  33.9501
 ...             ...          ...       ...      ...          ...      ...
 943041         1822            1        55        M            H  33.9455
 943379         1822            2         0        X            X  33.9501
 943527         1822            4        25        M            O  33.9465
 943824         1822            5         0        X            X  33.9438
 943931         1822            2         0        X            X  33.9510

              LON
 10     -118.2739
 263    -118.2781
 515    -118.2766
 560    -118.2739
 664    -118.2739
 ...          ...
 943041 -118.2826
 943379 -118.2784
 943527 -118.2781
 943824 -118.2739
 943931 -118.2784

 [3101 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 11             1988            5         8        F            H  34.2285
 230            1988            2        54        M            H  34.2283
 935            1988            1        50        F            H  34.2273
 938            1988            1        45        F            H  34.2198
 2124           1988            4        23        M            W  34.2284
 ...             ...          ...       ...      ...          ...      ...
 931756         1988            4        49        F            W  34.2311
 932539         1988            2        37        F            H  34.2267
 933547         1988            3         0      NaN          NaN  34.2313
 933704         1988            5        17        F            B  34.2267
 936836         1988            4        62        M            O  34.2217

              LON
 11     -118.4258
 230    -118.4286
 935    -118.4207
 938    -118.4278
 2124   -118.4232
 ...          ...
 931756 -118.4194
 932539 -118.4201
 933547 -118.4205
 933704 -118.4201
 936836 -118.4283

 [559 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 12              201            2         7        F            W  34.0868
 1165            201            2        20        F            H  34.0868
 1714            201            2        17        F            H  34.0868
 2294            201            1        53        M            H  34.0873
 2420            201            4        31        M            H  34.0880
 ...             ...          ...       ...      ...          ...      ...
 934895          201            2         0        X            X  34.0873
 938321          201            4        80        M            A  34.0873
 940226          201            1        41        M            W  34.0891
 942214          201            3        34        F            B  34.0868
 943051          201            2         0        X            X  34.0909

              LON
 12     -118.2991
 1165   -118.2991
 1714   -118.2991
 2294   -118.2960
 2420   -118.2950
 ...          ...
 934895 -118.2960
 938321 -118.2960
 940226 -118.2992
 942214 -118.2991
 943051 -118.2917

 [1218 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 13             1029            3         0      NaN          NaN  34.1939
 184            1029            2        46        M            H  34.1961
 838            1029            2        30        F            O  34.1994
 1179           1029            1        46        F            O  34.1975
 1382           1029            1        42        F            W  34.2011
 ...             ...          ...       ...      ...          ...      ...
 943109         1029            4        33        F            H  34.1994
 943477         1029            2        41        M            W  34.1975
 943478         1029            2        65        M            A  34.1957
 943520         1029            2        33        F            H  34.1939
 943628         1029            2        29        M            W  34.1976

              LON
 13     -118.4859
 184    -118.4793
 838    -118.4837
 1179   -118.4837
 1382   -118.4793
 ...          ...
 943109 -118.4837
 943477 -118.4837
 943478 -118.4773
 943520 -118.4837
 943628 -118.4793

 [1181 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 14              271            5        13        F            H  34.0539
 712             271            1        47        F            W  34.0539
 1230            271            1        37        M            B  34.0559
 2494            271            3         0      NaN          NaN  34.0529
 5284            271            4        30        M            W  34.0539
 ...             ...          ...       ...      ...          ...      ...
 934139          271            2        38        M            H  34.0553
 934339          271            3        37        F            B  34.0524
 938808          271            2        32        F            K  34.0529
 940883          271            3         0      NaN          NaN  34.0553
 943387          271            4        47        M            H  34.0534

              LON
 14     -118.2799
 712    -118.2799
 1230   -118.2842
 2494   -118.2819
 5284   -118.2842
 ...          ...
 934139 -118.2830
 934339 -118.2835
 938808 -118.2819
 940883 -118.2830
 943387 -118.2829

 [761 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 15              391            1        56        M            B  34.0103
 1033            391            5        14        F            B  34.0077
 1156            391            5        11        F            B  34.0072
 1636            391            5        14        F            B  34.0077
 2526            391            4        50        M            B  33.9974
 ...             ...          ...       ...      ...          ...      ...
 938397          391            2        34        F            O  34.0008
 938872          391            2        57        M            B  34.0077
 940031          391            3        47        F            H  34.0103
 941334          391            3        39        F            B  34.0095
 942518          391            2        32        M            B  34.0061

              LON
 15     -118.3456
 1033   -118.3454
 1156   -118.3465
 1636   -118.3454
 2526   -118.3579
 ...          ...
 938397 -118.3590
 938872 -118.3454
 940031 -118.3456
 941334 -118.3502
 942518 -118.3412

 [791 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 16             1802            1        22        F            B  33.9551
 81             1802            3         0      NaN          NaN  33.9547
 147            1802            2        28        M            H  33.9601
 807            1802            5        10        F            H  33.9537
 1228           1802            1        25        F            B  33.9587
 ...             ...          ...       ...      ...          ...      ...
 943128         1802            4        17        F            H  33.9581
 943226         1802            1        38        F            H  33.9547
 943683         1802            5        36        F            B  33.9542
 943774         1802            4        37        M            H  33.9601
 943916         1802            2        49        F            H  33.9555

              LON
 16     -118.2814
 81     -118.2717
 147    -118.2768
 807    -118.2739
 1228   -118.2739
 ...          ...
 943128 -118.2739
 943226 -118.2782
 943683 -118.2827
 943774 -118.2768
 943916 -118.2739

 [2596 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 17             1354            1        23        M            B  34.0112
 2017           1354            3         0      NaN          NaN  34.0066
 7103           1354            4        26        M            H  34.0066
 8478           1354            2        46        M            H  34.0112
 8911           1354            2        21        F            H  34.0091
 ...             ...          ...       ...      ...          ...      ...
 934394         1354            1        28        M            H  34.0112
 935377         1354            2        44        M            H  34.0112
 938729         1354            4        41        F            H  34.0112
 939773         1354            4        30        M            H  34.0038
 941635         1354            4        42        M            H  34.0082

              LON
 17     -118.2716
 2017   -118.2728
 7103   -118.2728
 8478   -118.2728
 8911   -118.2740
 ...          ...
 934394 -118.2728
 935377 -118.2740
 938729 -118.2740
 939773 -118.2740
 941635 -118.2705

 [620 rows x 7 columns],
         Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent      LAT  \
 18              776            4        31        F            O  34.0452
 396             776            4        50        F            W  34.0443
 1032            776            2        49        F            W  34.0443
 6047            776            4        33        F            B  34.0459
 6792            776            4        25        F            O  34.0441

In [162]:
districts[0][['Crm Cd Desc']]

        Crm Cd Desc
0                 3
1803              1
2090              2
2659              3
3241              4
...             ...
937069            4
938215            2
941331            4
942292            2
942745            2

[664 rows x 1 columns]

In [223]:
districts[0][['Crm Cd Desc']].sum()

Crm Cd Desc    1636
dtype: int64

In [174]:
{'A': 'asian', 'B': 'black', 'C': 'asian', 'D': 'asian', 'F': 'pacific', 'G':'pacific', 'H':'hispanic', 'I':'other', 'J':'asian', 'K':'asian', 'L':'asian', 'O':'other', 'P':'pacific', 'S':'pacific', 'U':'pacific', 'V':'asian', 'W':'white', 'X':'other', 'Z':'indian'}

{'A': 'asian',
 'B': 'black',
 'C': 'asian',
 'D': 'asian',
 'F': 'pacific',
 'G': 'pacific',
 'H': 'hispanic',
 'I': 'other',
 'J': 'asian',
 'K': 'asian',
 'L': 'asian',
 'O': 'other',
 'P': 'pacific',
 'S': 'pacific',
 'U': 'pacific',
 'V': 'asian',
 'W': 'white',
 'X': 'other',
 'Z': 'indian'}

In [217]:
districts[0]

        Rpt Dist No  Crm Cd Desc  Vict Age Vict Sex Vict Descent
0               784            3         0        M            O
1803            784            1        31        F            B
2090            784            2        64        M            O
2659            784            3         0      NaN          NaN
3241            784            4        67        F            B
...             ...          ...       ...      ...          ...
937069          784            4        27        F            B
938215          784            2        41        F            B
941331          784            4        51        M            H
942292          784            2        64        F            H
942745          784            2         0      NaN          NaN

[664 rows x 5 columns]

In [231]:
db_data = defaultdict(dict)
tot_severity = int(df_related[['Crm Cd Desc']].sum())

for district in districts:
    dist_num = str(district.iloc[0]['Rpt Dist No'])
    district_sev = int(district[['Crm Cd Desc']].sum())
    woman, man, otherSex = 0, 0, 0
    asian, black, hispanic, white, pacific, indian, otherDescent = 0, 0, 0, 0, 0, 0, 0
    minor, earlyTwenty, lateTwenty, thirties, midlife, elderly = 0, 0, 0, 0, 0, 0

    lat = float(district[['LAT']].mean())
    lon = float(district[['LON']].mean())

    for i in range(district.shape[0]):
        record = district.iloc[i]
        record_sev = record['Crm Cd Desc']

        match (record['Vict Sex']):
            case 'F':
                woman += record_sev
            case 'M':
                man += record_sev
            case _:
                otherSex += record_sev
        
        match (record['Vict Descent']):
            case 'A' | 'C' | 'D' | 'J' | 'K' | 'L' | 'V':
                asian += record_sev
            case 'B':
                black += record_sev
            case 'H':
                hispanic += record_sev
            case 'W':
                white += record_sev
            case 'F' | 'G' | 'P' | 'S' | 'U':
                pacific += record_sev
            case 'Z':
                indian += record_sev
            case _:
                otherDescent += record_sev

        if (record['Vict Age'] <= 0):
            pass
        elif (record['Vict Age'] < 18):
            minor += record_sev
        elif (record['Vict Age'] < 25):
            earlyTwenty += record_sev
        elif (record['Vict Age'] < 30):
            lateTwenty += record_sev
        elif (record['Vict Age'] < 40):
            thirties += record_sev
        elif (record['Vict Age'] < 65):
            midlife += record_sev
        else:
            elderly += record_sev

    db_data[dist_num] = {
        'default_score': district_sev / tot_severity / 2,
        'woman_score': woman / district_sev,
        'man_score': man / district_sev,
        'otherSex_score': otherSex / district_sev,
        'asian_score': asian / district_sev,
        'black_score': black / district_sev,
        'hispanic_score': hispanic / district_sev,
        'white_score': white / district_sev,
        'pacific_score': pacific / district_sev,
        'indian_score': indian / district_sev,
        'otherDescent_score': otherDescent / district_sev,
        'minor_score': minor / district_sev,
        'earlyTwenty_score': earlyTwenty / district_sev,
        'lateTwenty_score': lateTwenty / district_sev,
        'thirties_score': thirties / district_sev,
        'midlife_score': midlife / district_sev,
        'elderly_score': elderly / district_sev,
        'lat': lat,
        'lon': lon,
    }
db_data["784"]

/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  tot_severity = int(df_related[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lat = float(district[['LAT']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  lon = float(district[['LON']].mean())
/var/folders/bm/2p55x4d9111982mgcnj9dcm80000gn/T/ipykernel_17634/1153099983.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  district_sev = int(district[['Crm Cd Desc']].sum())

{'default_score': 0.00033867386410731907,
 'woman_score': 0.3808068459657702,
 'man_score': 0.3918092909535452,
 'otherSex_score': 0.2273838630806846,
 'asian_score': 0.023227383863080684,
 'black_score': 0.2561124694376528,
 'hispanic_score': 0.3245721271393643,
 'white_score': 0.09718826405867971,
 'pacific_score': 0.0024449877750611247,
 'indian_score': 0.0,
 'otherDescent_score': 0.29645476772616136,
 'minor_score': 0.023838630806845965,
 'earlyTwenty_score': 0.08007334963325183,
 'lateTwenty_score': 0.09229828850855745,
 'thirties_score': 0.18887530562347188,
 'midlife_score': 0.3215158924205379,
 'elderly_score': 0.04767726161369193,
 'lat': 33.88439939759036,
 'lon': -117.81545873493977}

In [232]:
json.dump(db_data, open('../data/db_data.json', 'w'))